#php  {
  display: none;
  text-align: center;
  font-size: 22px;
}

#java {
  display: none;
  text-align: center;
  font-size: 22px;
}

#csharp  {
  display: none;
  text-align: center;
  font-size: 22px;
}

#ruby {
  display: none;
  text-align: center;
  font-size: 22px;
}

body  {
  background-color: lightyellow;
  font-family: sans-serif;
}

button  {
  color: red;
}

p {
  font-family:fantasy;
}
.bootcamps {
  display: none;
}

.school {
  display: none
}

.online {
  display: none
}

.money  {
  display: none;
}
